In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
import scipy.stats as stats
import statsmodels.api as sm
from PIL import ImageGrab

**Q.4**.` TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences`

## We are going to conduct a <font color="red">Test of Independence</font> using Chi-Square $\chi_2$ test with Contingency table

### We need to check whether the mean of any of these samples are different or the same?

##  <font color='red'>Step 1
#### Make two Hypothesis one contradicting to other 
#### Null Hypothesis is want we want to prove

+ **Null Hypothesis:** = % of defective of all countries are equal i.e % Phillipness=%Indonesia=%Malta=%India
+ **Alternative Hypthosis:** :atlest one defective% is not equal

## <font color='red'>Step 2
### Decide a cut-off value

+ **Significance 5%**
+ **alpha = 0.05**

## <font color='red'>Step 3 
### Collect evidence

In [2]:
data=pd.read_csv("Customer+OrderForm.csv")
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [3]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [4]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [5]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [6]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [7]:
# Make a contingency table
table=np.array([[271,267,269,280],[29,33,31,20]])
table

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [8]:
stat, p, dof, expected = stats.chi2_contingency(table)
print('dof=%d' % dof)
print(p)

dof=3
0.2771020991233135

In [9]:
expected

array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]])

In [23]:
# Compare p_value with α = 0.05
alpha = 0.05
print('significance=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
    print('We reject Null hypothesis atlest one defective% is not equal')
else:
    print('We are fail to reject null  hypothesis % of defective of all countries are equal i.e % Phillipness=%Indonesia=%Malta=%India ')

significance=0.050, p=0.277
We are fail to reject null  hypothesis % of defective of all countries are equal i.e % Phillipness=%Indonesia=%Malta=%India